* {
    box-sizing: border-box;
}

body {
    font-family: "Fredoka", sans-serif;
    font-size: 1rem;
}

.header {
    max-width: 1300px;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



nav ul {
    width: 100%;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}
